/.vs/MarsRoverApp/DesignTimeBuild/.dtbcache.v2
/.vs/MarsRoverApp/v16/.suo
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.assets.cache
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.csprojAssemblyReference.cache
/MarsRoverApp/obj/MarsRoverCore.csproj.nuget.dgspec.json
/MarsRoverApp/obj/MarsRoverCore.csproj.nuget.g.props
/MarsRoverApp/obj/project.assets.json
/MarsRoverApp/obj/project.nuget.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.assets.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.csprojAssemblyReference.cache
/MarsRoverCore.Tests/obj/MarsRoverCore.Tests.csproj.nuget.dgspec.json
/MarsRoverCore.Tests/obj/MarsRoverCore.Tests.csproj.nuget.g.props
/MarsRoverCore.Tests/obj/project.assets.json
/MarsRoverCore.Tests/obj/project.nuget.cache
/.vs/MarsRoverApp/v16/.suo
/MarsRoverApp/bin/Debug/netstandard2.1/MarsRoverCore.dll
/MarsRoverApp/bin/Debug/netstandard2.1/MarsRoverCore.pdb
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.assets.cache
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.csproj.FileListAbsolute.txt
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.csprojAssemblyReference.cache
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.dll
/MarsRoverApp/obj/Debug/netstandard2.1/MarsRoverCore.pdb
/MarsRoverApp/obj/MarsRoverCore.csproj.nuget.dgspec.json
/MarsRoverApp/obj/MarsRoverCore.csproj.nuget.g.props
/MarsRoverApp/obj/project.assets.json
/MarsRoverApp/obj/project.nuget.cache
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.dll
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.pdb
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.Tests.deps.json
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.Tests.dll
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.Tests.pdb
/MarsRoverCore.Tests/bin/Debug/netcoreapp3.1/MarsRoverCore.Tests.runtimeconfig.dev.json
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.assets.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.csproj.CoreCompileInputs.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.csproj.FileListAbsolute.txt
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.csprojAssemblyReference.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.dll
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.genruntimeconfig.cache
/MarsRoverCore.Tests/obj/Debug/netcoreapp3.1/MarsRoverCore.Tests.pdb
/MarsRoverCore.Tests/obj/MarsRoverCore.Tests.csproj.nuget.dgspec.json
/MarsRoverCore.Tests/obj/MarsRoverCore.Tests.csproj.nuget.g.props
/MarsRoverCore.Tests/obj/project.assets.json
/MarsRoverCore.Tests/obj/project.nuget.cache
